{% extends 'base.html' %}

{% block title %}
	Pagina Sobre Nosotros
{% endblock %}	

{% block content %}
<center>
	<font size="9" color="purple" face="Comic Sans MS">Descripci&oacute;n de Nosotros</font><p><p>
	<font size="6" color="purple" face="Comic Sans MS">Somos una compa&ntilde;&iacute;a en la cual trabajamos con productos de calidad para que nuestros clientes queden satisfechos.<p></font>
	<h3>{{ msg }}</h3>
	<BODY BGCOLOR = "silver"LINK ="#08B808" text = "#08B808" VLINK = "#08B808"> </BODY>
</center>
{% endblock %}